body {
    padding-top: 60px;
}

.ys-a-link {
    text-decoration: none;
}

.no-focus-border {
    outline: none !important; /* Remove the focus outline */
    box-shadow: none !important; /* Remove the Bootstrap box shadow */
}